DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/k_todo
BIND_ADDR=0.0.0.0:8080
RUST_LOG=info
QWEATHER_API_HOST=your_project_host.qweatherapi.com
QWEATHER_KEY=replace_with_your_qweather_key
QWEATHER_LOCATION=replace_with_your_qweather_location_id
